body {
    margin: 0px;
}

.menu {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;

}

.menu img {
    width: 110px;
    height: 100px;
    border-radius: 100%;
}

.menu p {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;

}

.campo-pesquisa {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.campo-pesquisa input {
    height: 50px;
    width: 500px;
    border-radius: 200px;
    font-size: 20px;
    padding-left: 20px;
}

.grupo-card {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 219px;
    height: 265px;
    border-radius: 20px;
    margin: 8px 50px 8px 50px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.card p {
    color: white;
    font-size: 30px;
    margin: 200px 0px 0px 10px;
}

.banner {
    background-color: #000;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-banner {
    background-color: #e9e9e9;
    height: 90px;
    width: 600px;
    padding: 90px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
}

.card-esquerdo{
    text-align: center;
}

.card-direito img {
    background-image: url(gatinho.avif);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;

    
}