@font-face{
    font-family: "Montserrat";
    src: url(./fontes/Montserrat-Regular.ttf);

}

body{
    background-image: url(./img/bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
}

#logo{
    margin-top: 150px;
}

.central {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-login{
    background-color: #08687E;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    margin: 30px auto 0;
    padding: 10px 30px 45px 30px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;

}

.card-login p{
    font-size: 28px;
    color: white;
    text-transform: uppercase;
}

.input-icon{
    display: flex;
    height: 60px;
    margin-bottom: 10px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faa635;
    border-radius: 5px 0px 0px 5px;
    width: 85px;
}


.icon img{
    width: 50px;
}

.input-icon input, select {
    width: 100%;
    outline: none;
    border: 0px;
    border-radius: 0px 5px 5px 0px;
    padding-right: 10px;

}

.card-login button {
    height: 50px;
    background-color: #0c9abe;
    border: 0px;
    color: white;
    cursor: pointer;
    border-radius: 0px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.card-login button:hover {
    opacity: 0.5;
    color: #faa635;
}


.card-login a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}